.chero-container {
  margin: 0;
  height: 95vh;
  width: 100%;
  background-size: cover;
  background-image: url(../images/hero/Bogota.jpg);
  transition: background-image 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 12px;
  padding-top: 18vh;
}
.chero-container h1,
.chero-container h2,
.chero-container h3 {
  color: white;
  text-align: center;
  margin: 0;
  flex-shrink: 0;
}
.chero-container h1 {
  width: 750px;
  font-size: 72px;
  font-weight: 700;
}
.chero-container h2 {
  font-size: 24px;
  font-weight: 400;
}

.chero-container h3 {
  font-size: 36px;
  font-weight: 700;
}

.chero-container a {
  height: 66px;
  width: 226px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 60px;
  flex-shrink: 0;

  background-color: #e68a1f;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.chero-container span {
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 40px;
}

.chero-container svg {
  animation: bounce 1.5s cubic-bezier(0.28, 0.84, 0.42, 1.01) infinite;
}

@media only screen and (max-width: 768px) {
  .chero-container {
    height: 55svh;
    padding: 0;
  }

  .chero-container h1 {
    color: white;
    font-size: 32px;
    width: 100svw;
  }
  .chero-container h3 {
    color: white;
    font-size: 20px;
  }
  .chero-container h2 {
    color: white;
    font-size: 16px;
  }
  .chero-container a {
    font-size: 14px;
    margin-top: 20px;
    width: 150px;
    height: 48px;
  }
  .chero-container span {
    display: none;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}
