.cform-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
  padding: 0px 300px;
}
.cform-container div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 35px;
}
.cform-container h3 {
  font-size: 32px;
  margin: 0px;
}
.cform-container p {
  font-size: 20px;
  margin-bottom: 60px;
}
.cform-container input,
.cform-container select,
.cform-container textarea {
  border: none;
  border-bottom: solid 1px #111111;
  height: 35px;
  font-family: "Plus Jakarta Sans";
}
input::placeholder,
textarea::placeholder {
  color: #313131;
}
.cform-nameContainer input {
  width: 48%;
}
.cform-phoneContainer input,
.cform-phoneContainer select {
  width: 32%;
}

.cform-container button {
  color: white;
  border: none;
  background-color: #e68a1f;
  width: 400px;
  height: 60px;
  margin-top: 60px;
  border-radius: 4px;
  font-size: 16px;
}

.cform-container textarea {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .cform-container {
    padding: 0px 50px;
  }
  .cform-container div {
    box-sizing: border-box;
    padding: 0px;
    flex-direction: column;
    margin-bottom: 0px;
  }
  .cform-container h3 {
    font-size: 16px;
  }
  .cform-container p {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
  }
  .cform-container input,
  .cform-container select,
  .cform-container textarea {
    margin-bottom: 20px;
  }
  .cform-nameContainer input {
    width: 100%;
  }
  .cform-phoneContainer input,
  .cform-phoneContainer select {
    width: 100%;
  }
  .cform-container textarea {
    box-sizing: border-box;
  }
  .cform-container button {
    width: 158px;
    height: 37px;
    margin-top: 0px;
    font-size: 12px;
    margin-bottom: 30px;
  }
}
