.footer-container {
  background-color: #2c4b78;
  margin-top: 60px;
  width: 100%;
}
.footer-topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  color: white;
  height: 350px;
}
.footer-bottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e68a1f;
  padding: 0px 10%;
  height: 60px;
}
.footer-socialContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-socialContainer svg {
  margin-bottom: 16px;
}
.footer-socialContainer div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-socialContainer a {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
}
.footer-socialContainer p {
  margin: 0;
}

#footer-facebook::before {
  content: "";
  display: block;
  width: 31px;
  height: 31px;
  background-image: url(../images/icons/facebook.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 16px;
}
#footer-linkedIn::before {
  content: "";
  display: block;
  width: 31px;
  height: 31px;
  background-image: url(../images/icons/linkedin.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 16px;
}
#footer-x::before {
  content: "";
  display: block;
  width: 31px;
  height: 31px;
  background-image: url(../images/icons/x.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 16px;
}
.footer-contactContainer h5 {
  font-size: 24px;
}
.footer-contactContainer p {
  font-size: 17px;
}
.footer-linksContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
}
.footer-linksContainer a {
  text-decoration: none;
  color: white;
}
.footer-bottomContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
}
.footer-bottomContainer a {
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .footer-topContainer {
    flex-direction: column;
    padding: 0;
    height: auto;
    padding-top: 30px;
  }
  .footer-bottomContainer {
    flex-direction: column;
    padding: 0;
    height: auto;
    gap: 20px;
    padding: 30px 0px;
  }
  .footer-socialContainer {
    gap: 12px;
  }
  .footer-socialContainer div {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-socialContainer p {
    display: none;
  }
  #footer-facebook::before,
  #footer-linkedIn::before,
  #footer-x::before {
    margin-right: 0px;
  }
  .footer-contactContainer {
    margin-top: 20px;
  }
  .footer-contactContainer h5 {
    display: none;
  }
  .footer-contactContainer p {
    text-align: center;
    font-size: 14px;
  }
  .footer-linksContainer {
    display: none;
  }
  .footer-bottomContainer div {
    font-size: 14px;
  }
  .footer-termscontainer {
    flex-direction: column;
    gap: 30px;
  }
}
