.dynamH-container {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
}
.dynamH-container .wp-block-navigation-item {
  color: white;
}
.scrolled {
  background-color: white;
}

.scrolled .wp-block-navigation-item {
  color: #2c4b78;
  transition: 1s;
}

.navbar-logo-container {
  height: 40px;
  width: 230px;
  background-image: url(../images/logo_blanco_svg.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.navbar-logo-container2 {
  height: 40px;
  width: 230px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/logo_color_svg.svg);
}
