.dynamH-container {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  z-index: 1000;
}
.dynamH-container .wp-block-navigation-item {
  color: white;
}
.scrolled {
  background-color: white;
}

.scrolled .wp-block-navigation-item {
  color: #2c4b78;
  transition: 1s;
}

.navbar-logo-container {
  height: 40px;
  width: 230px;
  background-image: url(../images/icons/logo_blanco.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.navbar-logo-container2 {
  height: 40px;
  width: 230px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/icons/logo_color.svg);
}
.navbar-burger {
  display: none;
}
@media only screen and (max-width: 768px) {
  .dynamH-container {
    padding: 0px 40px !important;
    width: 100svw;
    height: 64px;
    min-height: 64px !important;
    flex-wrap: nowrap !important;
  }
  .dynamH-container .wp-block-navigation {
    display: none;
  }
  .navbar-logo-container {
    height: 40px;
    width: 40px;
    background-image: url(../images/icons/logo_mobile.svg);
  }
  .navbar-logo-container2 {
    height: 40px;
    width: 40px;

    background-image: url(../images/icons/logo_mobile_color.svg);
  }
  .navbar-burger {
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-image: url(../images/icons/burger.svg);
  }
  .burger_menu_2 {
    background-image: url(../images/icons/burger_color.svg) !important;
  }
  .dynamH-container .wp-block-button {
    display: none;
  }
  .navbar-items-container {
    width: 100%;
    height: 100%;
  }
}
